[phases.setup]
nixPkgs = ["python39"]

[phases.install]
cmds = ["pip install -r backend/requirements.txt"]

[start]
cmd = "python manage.py migrate --noinput && python manage.py collectstatic --noinput && gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT --timeout 120 --access-logfile - --error-logfile -"